.Header {
  height: 100%;
  width: 100%;
  letter-spacing: 5px;
  color: darkblue;
  font: 90px Arial, sans-serif;
  font-weight: bold;
  text-align: center;
  text-shadow: 2px 2px #ffffff;
}

.body-text {
  height: 100%;
  width: 100%;
  letter-spacing: 5px;
  color: darkblue;
  font: 70px Arial, sans-serif;
  text-align: center;
  text-shadow: 2px 2px #ffffff;
}

body {
  background-color: green;
  background-image: url('./bball-field.jpg');
}

.buttons {
  margin: 0 auto;
  size: 200px
}

.click:hover {
    background: lightblue;
    transform: scale(1);
    transition-duration: 0.2s;
    opacity: 0.8;
}

.click {
    width: 150px;
    background: white;
    font-size: 40px;
    cursor: pointer;
}

.btn, .btn-secondary {
  margin-top: 0;
  margin-right: 10px;
  margin-bottom: 10;
  font-size: 20px;
}
