.Header {
  height: 100%;
  width: 100%;
  letter-spacing: 5px;
  color: darkblue;
  font: 90px Arial, sans-serif;
  font-weight: bold;
  text-align: center;
}

.body-text {
  height: 100%;
  width: 100%;
  letter-spacing: 5px;
  color: darkblue;
  font: 70px Arial, sans-serif;
  text-align: center;
}

.buttons {
  grid-row: 2 / 3;
  button {
    grid-row: 2 / 3;
    font-family: 'Press Start 2P', cursive;
    justify-self: center;
    display: flex;
    margin: 11% auto;
    font-size: 50px;
  }
}
